body,
li,
p {
  font-size: 150% !important;
  line-height: 150% !important;
}

code.language-ansi {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  word-break: break-all;
}

.biggie {
  font-size: 300% !important;
  line-height: 200% !important;
}
